@model LoginViewModel

@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    @if (string.IsNullOrEmpty(Model.EmployeeName))
    {
        <form asp-action="Index" method="post">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label asp-for="EmployeeId">Employee Id:</label>
                <input asp-for="EmployeeId" class="form-control" />
                @Html.ValidationMessageFor(m => m.EmployeeId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="Password" class="form-control" required />
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="alert alert-info">
            <strong>Note:</strong> The default password for all users is <code>P@ssw0rd123</code>.
        </div>
    }
    else
    {
        <h2>Welcome back, @Model.EmployeeName!</h2>
    }
</div>
