@model LoginViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (string.IsNullOrEmpty(Model.EmployeeName))
    {
        <form asp-action="Index" method="post">
            <div class="form-group">
                <label asp-for="EmployeeId">Employee Id:</label>
                <input asp-for="EmployeeId" class="form-control" />
            </div>
            <div class="form-group">
                <label>Are you an approver?</label><br />
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="IsApprover" name="IsApprover" value="true" id="isApproverYes">
                    <label class="form-check-label" for="isApproverYes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="IsApprover" name="IsApprover" value="false" id="isApproverNo">
                    <label class="form-check-label" for="isApproverNo">No</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    }
    else
    {
        <h2>Welcome back, @Model.EmployeeName!</h2>
    }
</div>
